body{
    background-color: black;
}

h1 {
    background-color:plum;
    text-align: center;
    }
a  {
    color:cyan;
    padding: 20px;
}

#top-menu {
    background-color: cadetblue;
    padding: 10px;

}