* {
    padding: 0%;
    margin: 0%;
    border: 2px solid red;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    border: 4px dotted cyan;
    margin: 20px auto;
}

h3 {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

div{
    border: black;
    color: 
}

img {
   
    /* height: auto; */
    max-width: 40%;
}
