body {
    font-family: sans-serif;
  }
  
  #flex-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80vw;
    height: max-content;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid;
  }
  
  
  .box {
    display: flex;
    width: 150px;
    height: 150px;
    border: 5px solid;
    margin: 10px 0;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    background-color: lightblue;
   
    
  }